*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: black;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  width: 100%;
  max-width: calc(1440px + 32px + 32px);
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}

.App {

}
